body {
    background-color: rgb(12, 11, 11);
}

.hotspot {
    stroke: transparent;
    stroke-width: 1;
    cursor: pointer;
    pointer-events: all;
    fill: transparent;
    z-index: 6;
    vector-effect: non-scaling-stroke;
}

.hotspot:hover {
    stroke: yellow;
    stroke-width: 2;
    fill: rgba(255, 255, 0, 0.2);
    transition: all 0.3s ease;
}

.diagram {
    position: absolute;
    width: 600px;
    margin: auto;
    height: auto;
    z-index: 1;
    right: 30%;
    border-radius: 13px;
    border-style: groove;
    border: 4px solid rgb(92, 80, 80);
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: visible;
}

@keyframes animate {
    1% {
        background-color: black;
        font: lighter;
        stroke-dashoffset: 1000;
        transform: translate(-100);
    }
    100% {
        font: bold;
        background-color: rgb(92, 80, 80);
    }
}

.info {
    width: 300px;
    height: 300px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 30px;
    color: rgb(36, 19, 19);
    background-color: rgb(219, 182, 182);
    z-index: 9999;
    text-align: center;
    font-size: 23px;
    line-height: 1;
    overflow-y: auto;
    /* animation: animate 1s ease-in-out; */
    animation-duration: 1s;
    font-weight: bolder;
    border-radius: 22%;
    top: 10px;
    right: -54px;
}

.fact {
    width: 300px;
    height: 300px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0) all;
    position: relative;
    color: rgb(36, 19, 19);
    background-color: rgb(219, 182, 182);
    z-index: 9999;
    text-align: center;
    font-size: 23px;
    line-height: 1;
    overflow-y: auto;
    /* animation: animate 1s ease-in-out; */
    translate: 2.4em 12.5em;
    animation-duration: 1s;
    font-weight: bolder;
    border-radius: 22%;
    padding-top: 60px;
    right: -54%;
    bottom: 2%;
    margin-bottom: 10px;
}

.diagram.transition {
    transform: scale(1.3);
    transition-duration: 1s;
    transform-origin: center;
    translate: -13.2em -0.5em;
    z-index: 10;
}

.fact.hidden {
    display: none;
}

.info.hidden {
    display: none;
}

.info:hover {
    transform: scale(2);
    transition-duration: 1s;
    transform: translateX(22%);
}

.fact:hover {
    transform: translateX(40%);
    transition-duration: 2s;
}


/* img { */


/* width: 100%; */


/* transition: transform 0.4s ease; */


/* transform-origin: center; */


/* } */


/*  */


/* img:hover { */


/* transform: scale(1.4); */


/* transform-origin: 30% 40%; */


/* transition-duration: 1.2s; */


/* } */

.normal button {
    position: absolute;
    top: 80%;
    margin-right: 50%;
    width: 300px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(54, 45, 45);
    color: white;
    border: 2px solid rgb(36, 19, 19);
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    z-index: 1203;
}

.normal.hidden {
    display: none;
}

.normal button:hover {
    background-color: rgb(119, 102, 102);
    transform: scale(1.2);
    transition-duration: 0.4s;
}